* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
  margin: 0;
  background-color: #fafafa;
  font-family: system-ui, -apple-system, sans-serif;
}

/* Buttons */
.btn-primary {
  background-color: rgb(255, 153, 0);
  color: #1b1a1a !important;
  padding: 0.6rem 1.25rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}


/* Pill Navbar Styles */

.pill-navbar {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0.6rem;
  background-color: rgba(255, 255, 255, 0.205);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 9999px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.pill-navbar a {
  text-decoration: none;
  color: #555;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: all 0.2s ease;
}

.pill-navbar a:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.04);
}

.pill-navbar a.active {
  color: #000;
  font-weight: 600;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: #e0e0e0;
}

.pill-navbar .pill-contact {
  background-color: #000;
  color: #fff;
}

.pill-navbar .pill-contact:hover {
  background-color: #222;
  color: #fff;
}


/* -- Landing Page Styles -- */

.hero {
  min-height: 100vh;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 2rem 1.5rem;
}

.hero-content {
  max-width: 800px;
}

.badge {
  background-color: #000;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.35rem 0.85rem;
  border-radius: 9999px;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.hero h1 {
  font-family: "Space Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  letter-spacing: -0.02em;
  text-decoration: uppercase;
}

.hero p {
  font-size: 1.2rem;
  color: #475569;
  margin-bottom: 2rem;
}

.hero action  {
  display: flex;
  gap: 1rem;
  justify-content: center;
}